<header>
    <app-app-header></app-app-header>
  </header>
  <main>
    <app-customer-sidebar></app-customer-sidebar>
    <h2 class="text-center">Products List</h2>
      <table class="table table-striped table-bordered">
          <thead class="table-dark">
                 <tr>
                  <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Unit price</th>
                    <th scope="col">Quantity</th> 
                    <th scope="col">Add order</th>
                  </tr>
            </thead>
           <tbody>
             <tr *ngFor = "let product of products">
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.unitPrice}}</td>
                  <td>{{product.qte}}</td>
                  <td><button (click)="createOrder(product.id)" type="submit" class="btn btn-primary">Create Order</button></td>
              </tr>
            </tbody>
      </table>      
  </main>
  <footer>
    <app-app-footer></app-app-footer>
  </footer>
